h1 {
    text-align: center;
    font-family: 'Lato', sans-serif;
}
h4, h3 {
    text-align: center;
    font-family: 'Lato', sans-serif;
}
p {
    text-align: center;
    font-family: 'Lato', sans-serif;
}