body {
    background-color: #111 !important;
    color: white !important;
    text-align: center;
}

h1, h3 {
    text-align: center;
}

.table {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 8px;
    padding: 8px;
}

tr:nth-child(even) {background: #5d5c5b
}

.circular-progress {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    margin: 30px auto auto;
    background: linear-gradient(0deg, #ffffff 50%, #353535 20%);
    position: relative;
    transform: rotate(50deg);
}

.circular-progress::before {
    content: "";
    width: 12rem;
    height: 12rem;
    position: absolute;
    top: 0;
    left: 0;
    background: #111 content-box;
    border-radius: 50%;
    padding: .5em;
    box-sizing: border-box;
    font-size: 2rem;
    color: white;
    text-align: center;
    line-height: 8rem;
    transform: rotate(-50deg);
}

.circular-progress::after {
    content: "";
    width: 12rem;
    height: 12rem;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background: linear-gradient(transparent 50%, #111111 50%);
    transform: scale(1.1) rotate(-50deg);
    text-align: center;
    line-height: 6rem;
}

.extraInfo {
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.temMax, .temMin {
    display: flex;
    flex-direction: column;
}

.extraInfo a {
    margin: 4px;
}

#cold{color: lightblue}
#hot{color: red}